<!DOCTYPE html>
<div class="contenedor__titulo">
    <div class="contenedor__titulo--foto">
        <label class="sinFoto" *ngIf="noTieneFoto()">Subir foto<input type="image" id="Name" name="Name" /></label>
        <img src="{{recetaChild.imagen}}">
    </div>
    <div class="contenedor__titulo--texto">
        <label class="sinTitulo" *ngIf="noTieneTitulo()">Ingrese título: <input type="text" [(ngModel)]="recetaChild.titulo" value="{{recetaChild.titulo}}"/></label>
        <h1>{{recetaChild.titulo}}</h1>
        <h2 style="padding-top:5px">{{recetaChild.autorUserName}}</h2>
        <h2 class="condicionesAlimentarias">
            <p>Inadecuado para&nbsp;</p>
            <p *ngFor="let condicion of setDeCondiciones; let i = index">{{ condicion.tipo }}<ng-container *ngIf="setDeCondiciones.length>i+1">,&nbsp;</ng-container>
            </p>
        </h2>
    </div>
</div>