<header>
    <div class="buscador-container">
        <div class="buscador">
            <h1>Búsqueda de Recetas</h1>
            <form class="search-bar">
                <input type="search" placeholder="Ingrese el titulo de la receta">
                <input type="submit" value="Buscar">
                <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
            </form>
            <div class="soloMisRecetas">
                <input type="checkbox">
                <p>Sólo mis recetas</p>
            </div>
            <h2>Resultados de la Búsqueda</h2>
        </div>
    </div>
</header>